    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/rmurisaworkshop_pythonbasics/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/rmurisaworkshop_pythonbasics/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/rmurisaworkshop_pythonbasics/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/rmurisaworkshop_pythonbasics/js/sb-admin-2.js"></script>
	
	<!-- Custom JS -->
	<script>
		$("#"+$("#page-label").html()).addClass("active");
    if($("#parent-page-label")){$("#"+$("#parent-page-label").html()).addClass("active");}
	</script>

</body>

</html>

