<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/rmurisaworkshop_pythonbasics/">Python Basics for ArcGIS | RM-URISA Workshop</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a id="0_intro" href="/rmurisaworkshop_pythonbasics/">Introduction</a>
                </li>
                <li id="li_1_programmingbasics">
                    <a id="1_programmingbasics" href="/rmurisaworkshop_pythonbasics/content/1_programmingbasics/">1. Programming Basics<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a id="1_1_oop" href="/rmurisaworkshop_pythonbasics/content/1_programmingbasics/1_1_oop/">1.1. Object-oriented Programming</a>
                        </li>
                        <li>
                            <a id="1_2_oopinarcgis" href="/rmurisaworkshop_pythonbasics/content/1_programmingbasics/1_2_oopinarcgis/">1.2. Object-oriented Programming in ArcGIS</a>
                        </li>
                    </ul>
                </li>
                <li id="li_2_pythonbasics">
                    <a href="#">2. Python Basics</a>
                    <ul class="nva nav-second-level">
                      <li>
                        <a id="2_1_aboutpython" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_1_aboutpython/">2.1 About Python</a>
                      </li>
                      <li>
                        <a id="2_2_pythonfeatures" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_pythonfeatures/">2.2 Python Features</a>
                      </li>
                      <li>
                        <a id="2_3_aboutarcpy" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_3_aboutarcpy/">2.3 About ArcPy</a>
                      </li>
                      <li id="li_2_4_arcpy">
                        <a id="2_4_arcpy" href="#">2.4 ArcPy</a>
                        <ul class="nav nav-third-level">
                          <li>
                            <a id="2_4_1_arcpydatatype" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_4_arcpy/2_4_1_arcpydatatype/">2.4.1 Data Type</a>
                          </li>
                          <li>
                            <a id="2_4_2_arcpystatement" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_4_arcpy/2_4_2_arcpystatement/">2.4.2 Statement</a>
                          </li>
                          <li>
                            <a id="2_4_3_arcpyfunction" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_4_arcpy/2_4_3_arcpyfunction/">2.4.3 Function</a>
                          </li>
                          <li>
                            <a id="2_4_4_arcpylogic" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_4_arcpy/2_4_4_arcpylogic/">2.4.4 Logic</a>
                          </li>
                          <li>
                            <a id="2_4_5_arcpyerror" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_4_arcpy/2_4_5_arcpyerror/">2.4.5 Error Handling</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ArcPy</a>
                </li>
                <li>
                    <a href="#">Python in ArcGIS<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Field Calculator</a>
                        </li>
                        <li>
                            <a href="#">Label Expression</a>
                        </li>
                        <li>
                            <a href="#">Python Window<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Python Window Vs. IDLE</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">IDLE</a>
                        </li>
                        <li>
                            <a href="#">Export Script from ArcGIS<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">From Python Window</a>
                                </li>
                                <li>
                                    <a href="#">From Geoprocessing Results</a>
                                </li>
                                <li>
                                    <a href="#">From Model Builder</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Scripting in ArcGIS</a>
                </li>
                <li>
                    <a href="#">Scripting in Python IDLE</a>
                </li>
                <li>
                    <a href="#">Model Builder</a>
                </li>
                <li>
                    <a href="#">Create Toolbox with ArcPy</a>
                </li>
                <li>
                    <a href="#">ArcPy.mapping</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>