<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/rmurisaworkshop_pythonbasics/">Python Basics for ArcGIS | RM-URISA Workshop</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a id="0_intro" href="/rmurisaworkshop_pythonbasics/">Introduction</a>
                </li>
                <li id="li_1_programmingbasics">
                    <a id="1_programmingbasics" href="/rmurisaworkshop_pythonbasics/content/1_programmingbasics/">1. Programming Basics<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a id="1_1_oop" href="/rmurisaworkshop_pythonbasics/content/1_programmingbasics/1_1_oop/">1.1. Object-oriented Programming</a>
                        </li>
                        <li>
                            <a id="1_2_oopinarcgis" href="/rmurisaworkshop_pythonbasics/content/1_programmingbasics/1_2_oopinarcgis/">1.2. Object-oriented Programming in ArcGIS</a>
                        </li>
                    </ul>
                </li>
                <li id="li_2_pythonbasics">
                    <a href="#">2. Python<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                      <li>
                        <a id="2_1_aboutpython" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_1_aboutpython/">2.1 About Python</a>
                      </li>
                      <li id="li_2_2_python">
                        <a id="2_2_python" href="#">2.2 Python Basics<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                          <li>
                            <a id="2_2_1_pythonversion" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_1_pythonversion/">2.2.1 Python Version</a>
                          </li>
                          <li>
                            <a id="2_2_2_pytonenv" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_2_pytonenv/">2.2.2 Scripting Environments</a>
                          </li>
                          <li>
                            <a id="2_2_3_basicsyntax" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_3_basicsyntax/">2.2.3 Basic Syntax</a>
                          </li>
                          <li>
                            <a id="2_2_4_pytondatatype" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_4_pytondatatype/">2.2.4 Data Type</a>
                          </li>
                          <li>
                            <a id="2_2_5_pythonstatement" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_5_pythonstatement/">2.2.5 Statement</a>
                          </li>
                          <li>
                            <a id="2_2_6_pythonlogic" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_6_pythonlogic/">2.2.6 Control Flow</a>
                          </li>
                          <li>
                            <a id="2_2_7_pythonfunction" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_7_pythonfunction/">2.2.7 Function</a>
                          </li>
                          <li>
                            <a id="2_2_8_pythonerror" href="/rmurisaworkshop_pythonbasics/content/2_pythonbasics/2_2_python/2_2_8_pythonerror/">2.2.8 Error Handling</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
                <li id="li_3_pythoninarcgis">
                  <a href="#">3. Python in ArcGIS<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                    <li>
                      <a id="3_1_label" href="/rmurisaworkshop_pythonbasics/content/3_pythoninarcgis/3_1_label/">3.1 Python in Label Expression</a>
                    </li>
                    <li>
                      <a id="3_2_fieldcalc" href="/rmurisaworkshop_pythonbasics/content/3_pythoninarcgis/3_2_fieldcalc/">3.2 Python in Field Calculator</a>
                    </li>
                  </ul>
                </li>
                <li id="li_4_arcpy">
                  <a href="#">4. Scripting in ArcGIS with ArcPy<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                    <li>
                      <a id="4_1_aboutarcpy" href="/rmurisaworkshop_pythonbasics/content/4_arcpy/4_1_aboutarcpy/">4.1 About ArcPy</a>
                    </li>
                    <li>
                      <a id="4_2_snippet" href="/rmurisaworkshop_pythonbasics/content/4_arcpy/4_2_snippet/">4.2 Python Snippet from Geoprocessing Results</a>
                    </li>
                    <li>
                      <a id="4_3_pywindow" href="/rmurisaworkshop_pythonbasics/content/4_arcpy/4_3_pywindow/">4.3 Geoprocessing in Python Window</a>
                    </li>
                    <li>
                      <a id="4_4_idle" href="/rmurisaworkshop_pythonbasics/content/4_arcpy/4_4_idle/">4.4 Geoprocessing in IDLE (Python GUI)</a>
                    </li>
                  </ul>
                </li>
                <li id="li_5_modelbuilder">
                    <a href="#">5. Model Builder<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                      <li>
                        <a id="5_1_modelbuilder" href="/rmurisaworkshop_pythonbasics/content/5_modelbuilder/5_1_modelbuilder/">5.1 About Model Builder</a>
                      </li>
                      <li>
                        <a id="5_2_exetool" href="/rmurisaworkshop_pythonbasics/content/5_modelbuilder/5_2_exetool/">5.2 Executing Tools in ModelBuilder</a>
                      </li>
                      <li>
                        <a id="5_3_loop" href="/rmurisaworkshop_pythonbasics/content/5_modelbuilder/5_3_loop/">5.3 Batch Processing with ModelBuilder</a>
                      </li>
                      <li>
                        <a id="5_4_py" href="/rmurisaworkshop_pythonbasics/content/5_modelbuilder/5_4_py/">5.4 Export ModelBuilder Tools into Python Script</a>
                      </li>
                    </ul>
                </li>
                <li id="li_6_batchpy">
                    <a href="#">6. Automate workflow with Python<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                      <li>
                        <a id="6_1_loop" href="/rmurisaworkshop_pythonbasics/content/6_batchpy/6_1_loop/">6.1 Automate workflow with ArcPy in Python</a>
                      </li>
                      <li>
                        <a id="6_2_pytool" href="/rmurisaworkshop_pythonbasics/content/6_batchpy/6_2_pytool/">6.2 Create Script Tools</a>
                      </li>
                    </ul>
                </li>
                <li id="li_7_arcpymapping">
                    <a href="#">7. ArcPy.mapping<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                      <li>
                        <a id="7_1_replacetxt" href="/rmurisaworkshop_pythonbasics/content/7_arcpymapping/7_1_replacetxt/">7.1 Find and Replace Texts</a>
                      </li>
                      <li>
                        <a id="7_2_source" href="/rmurisaworkshop_pythonbasics/content/7_arcpymapping/7_2_source/">7.2 Update Data Source</a>
                      </li>
                      <li>
                        <a id="7_3_exportpdf" href="/rmurisaworkshop_pythonbasics/content/7_arcpymapping/7_3_exportpdf/">7.3 Export to PDF Map Books</a>
                      </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>